/* Reset default browser styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body styles */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
    background: #ff8a08;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Header styles */

header {
    background-color: #222;
    padding: 15px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: center;
    width: 60%;
}

nav .nav-logo h2 {
    color: #ff8a08;
    font-family: cursive;
    letter-spacing: 4px;
    font-size: 25px;
    cursor: pointer;
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    margin: 0 15px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav li a:hover {
    color: #ff8a08;
}


/* Hero section styles */

.hero {
    padding: 4rem 0;
    background-color: #ff8a08;
    color: #fff;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.hero-left {
    margin-bottom: 2rem;
}

.hero-left img {
    width: 22rem;
    border-radius: 45%;
}

.hero-right {
    text-align: left;
    width: 45%;
}


/* About Me section styles */

.about-me {
    padding: 80px 6rem;
    background-color: #fff;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descreption-card {
    width: 85%;
    text-wrap: balance;
}

.contact-btn {
    margin-top: 7rem;
}

.btn {
    padding: 1rem 3rem;
    border: 2px solid;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background: transparent;
    font-size: 1.2rem;
    letter-spacing: 1px;
    box-shadow: 0px 0px 10px 3px #00000030;
}

.btn:hover {
    background-color: white;
    color: #ff8a08;
    box-shadow: -4px 3px 10px 3px #00000038;
    font-weight: 600;
}

.btn.white {
    color: #ff8a08;
    background: white;
    border: 2px solid #ff8a08;
    box-shadow: 0px 0px 10px 3px #0000004a;
    margin-top: 2rem;
    height: 3.5rem;
}

.btn.white:hover {
    background: #ff8a08;
    color: white;
    /* border: 1px solid #ff8a08; */
}


/* Skills section styles */

.skills {
    padding: 80px 6rem;
    color: #333;
    text-align: center;
}

.skill-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill {
    width: 280px;
    padding: 20px 25px;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgb(0 0 0 / 35%);
    cursor: pointer;
}

.dot-underline {
    margin-bottom: 3rem;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #ff8a08;
    text-decoration-thickness: 8px;
    text-decoration-style: dotted;
}

.skill:hover {
    scale: 1.05;
    box-shadow: 0 0 15px rgb(0 0 0 / 75%);
}

.skill-bar {
    width: 100%;
    margin-top: 10px;
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.skill-level {
    width: 20%;
    background-color: #ff8a08;
    height: 100%;
    border-radius: 10px;
}


/* Projects section styles */

.projects {
    padding: 80px 6rem;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pro-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.project-card {
    width: 260px;
    height: 360px;
    background-color: #fff;
    padding: 40px 25px;
    box-shadow: 0 0 15px rgb(0 0 0 / 35%);
    cursor: pointer;
    margin-bottom: 2rem;
}

.project-card img {
    margin-top: 20px;
    width: 100%;
}

.project-card.active:hover {
    scale: 1.05;
    box-shadow: 0 0 15px rgb(0 0 0 / 75%);
}

.preview {
    display: none;
}

.preview.active {
    display: flex;
    position: fixed;
    width: 90vw;
    height: 90vh;
    background: #000000bd;
    top: 5vh;
    left: 5vw;
    z-index: 5;
    cursor: default;
    padding: 40px;
}

.preview #closePreview {
    width: 50px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.preview #viewProject {
    position: absolute;
    bottom: 2rem;
    right: calc(45vw -10rem);
    right: 40vw;
}

.preview .Thumbnail img {
    width: 500px;
}


/* Contact section styles */

.contact {
    padding: 50px 0;
    background-color: #ff8a08;
    color: #fff;
    text-align: center;
    height: 38rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form label,
.contact form input,
.contact form textarea,
.contact form input[type="submit"] {
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
}

.contact form input[type="submit"] {
    width: auto;
    cursor: pointer;
    background-color: #222;
    border: none;
    transition: background-color 0.3s ease;
}

.contact form input[type="submit"]:hover {
    background-color: #333;
}


/* Close Buttun Hide */

nav .menu img {
    display: none;
}

nav .menu .menu-list {
    display: none;
}


/* Footer styles */

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.socal-box {
    margin-top: 1rem;
}

.socal-box img {
    width: 25px;
}

.socal-box a:hover img {
    width: 28px;
}

.socal-box a {
    margin-right: 15px;
}


/* Wide View Projects */

.wide-view {
    display: none;
}

@media screen and (max-width: 639px) {
    nav .menu ul {
        width: 90%;
    }
    .hero-right {
        text-align: center;
        width: 95%;
    }
    .contact-btn {
        margin-top: 2.5rem;
    }
    .hero-left img {
        width: 20rem;
    }
    .skills {
        padding: 80px 4rem;
    }
    .descreption-card {
        width: 100%;
        text-wrap: balance;
    }
    .about-me {
        padding: 80px 4rem;
    }
    .projects {
        padding: 80px 4rem;
    }
    header {
        padding: 12px 0;
    }
    nav .nav-logo {
        position: absolute;
        right: 7vw;
    }
    nav .menu ul {
        display: none;
    }
    nav .menu img {
        display: inline;
        width: 40px;
        position: relative;
        right: 40vw;
    }
    nav .menu #close {
        display: none;
    }
    nav .menu #close.active {
        display: block;
    }
    nav .menu #open.active {
        display: none;
    }
    nav .menu.active .menu-list {
        display: flex;
        top: 5rem;
        position: absolute;
        width: 90%;
        height: 60vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #000000b0;
        transition: ease-in;
        transition-delay: 1s;
        z-index: 2;
    }
}


/* Contact page */

.contact {
    display: flex;
    padding: 50px 0;
    background-color: #ff8a08;
    color: #fff;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.email {
    width: 40%;
}

.telegram {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.telegram .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgb(0 0 0 / 17%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1.5px solid rgba(255, 255, 255, 0.5);
    border-left: 1.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.telegram .card img {
    position: absolute;
    right: 30px;
    pointer-events: none;
    transform: translateY(100px);
    transition: 1s;
    width: 200px;
    opacity: 90%;
}

.telegram .card:hover img {
    transform: translateY(-110px);
    opacity: 0;
}

.telegram .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.8s;
}

.telegram .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.telegram .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.telegram .card .content p {
    font-size: 1em;
    text-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: 300;
}

.telegram .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

#emailForm input::placeholder {
    color: white;
}

#emailForm textarea::placeholder {
    color: white;
}

@media screen and (max-width: 746px) {
    .contact {
        flex-direction: column-reverse;
    }
    .email {
        margin-top: 3rem;
        width: 80%;
    }
}


/* Project Page */

.project-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #ff8a08;
    text-align: center;
}
